/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
section {
  display: flex;
}
.color {
  color: orangered;
}

.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.half-width {
  width: 50%;
  padding-left: 5%;
  padding-top: 2%;
}
.half-width h1 {
  font-size: 42px;
}
.half-width img {
  width: 85%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(to left, #ffa500, #ff6347);
  padding: 10px 30px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 600;
}

.big-dream {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 5%;
}
