/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.color {
  color: orange;
}

.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.half-width {
  width: 50%;
  padding-left: 5%;
  padding-top: 2%;
}
h1 {
  font-size: 42px;
}
.half-width img {
  width: 85%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(to left, #ffa500, #ff6347);
  padding: 10px 30px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 600;
}

.big-dream {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 5%;
}
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.box-shadow {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 40px #808080;
}
#full-stack {
  border-left: 6px solid;
  border-image: linear-gradient(#00ffff, #0000ff);
  border-image-slice: 1;
}
#baby-web {
  border-left: 6px solid;
  border-image: linear-gradient(#58db0c, #db0cd1);
  border-image-slice: 1;
}
footer p{
    text-align: center;
}
